# dependencies
node_modules
*.log

# Next.js
.next
out

# dotenv
.env
.env.*.local

# Vercel
.vercel

# Editor junk
.vscode/
.idea/
.DS_Store

# Vite leftovers (if any)
dist
vite.config.js
index.html
vercel.json
