# Root-level ignores (general junk)
*.log
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db
OCR/
node_modules/
id_rsa_bodega
id_rsa_bodega.pub
/archive

# MkDocs build output
site/
.env
backend/new.env
backend/new.env/*
backend\new.env
backend/new.env
backend/.env.new

frontend/archive/*

