# Root-level ignores (general junk)
*.log
*.tmp
*.bak
*.swp
.DS_Store
Thumbs.db
OCR/
node_modules/
id_rsa_bodega
id_rsa_bodega.pub

# MkDocs build output
site/
.env
backend/new.env
backend/new.env/*
backend\new.env
backend/new.env
backend/.env.new
frontend/archive/*
frontend/archive/**
frontend/archive/**/**
frontend/archive/_app.jsx
frontend/archive/_error.jsx
frontend/archive/admin-add-team.jsx
frontend/archive/admin-advance-round.jsx
frontend/archive/admin-bracket-generator.jsx
frontend/archive/admin-create-league.jsx
frontend/archive/admin-manage-webhooks.jsx
frontend/archive/admin-mark-winner.jsx
frontend/archive/admin-old.jsx
frontend/archive/admin-old.tsx
frontend/archive/admin-review-board.jsx
frontend/archive/admin-review-matches.jsx
frontend/archive/admin-review-stats.jsx
frontend/archive/admin-roster-lock.jsx
frontend/archive/admin-schedule-match.jsx
frontend/archive/admin-submit-result.jsx
frontend/archive/admin.jsx
frontend/archive/AdminNavButton.jsx
frontend/archive/awards.jsx
frontend/archive/bodega-admin-panel.jsx
frontend/archive/champion.jsx
frontend/archive/index.jsx
frontend/archive/index.old.jsx
frontend/archive/leaderboard.jsx
frontend/archive/leaderboardsup.jsx
frontend/archive/leaderboardsup.tsx
frontend/archive/league-browser.jsx
frontend/archive/league-settings.jsx
frontend/archive/league-teams.jsx
frontend/archive/LeagueSettingsForm.jsx
frontend/archive/login.jsx
frontend/archive/Main.jsx
frontend/archive/matches.jsx
frontend/archive/misc-index.jsx
frontend/archive/MvpCard.jsx
frontend/archive/my-contracts.jsx
frontend/archive/notifications.jsx
frontend/archive/owner-send-contract.jsx
frontend/archive/plasmic-host.jsx
frontend/archive/player-profile.jsx
frontend/archive/profile.jsx
frontend/archive/public-bracket.jsx
frontend/archive/public-matches.jsx
frontend/archive/register-team.jsx
frontend/archive/register.jsx
frontend/archive/send-announcement.jsx
frontend/archive/SidebarLayoutWrapper.jsx
frontend/archive/standings.jsx
frontend/archive/stats-display.tsx
frontend/archive/submit-player-stats.jsx
frontend/archive/submit-result.jsx
frontend/archive/team-creation.jsx
frontend/archive/TeamApprovalTable.jsx
frontend/archive/test-render.jsx
frontend/archive/TopScorersChart.jsx
frontend/archive/useLeaderboarrdData.js
frontend/archive/view-registered-teams.jsx
frontend/archive/WebhookManager.jsx
