python-jose==3.3.0
fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
gspread
pandas
axios
apscheduler
pillow
#pytesseract
numpy
requests
#opencv-python
easyocr
#oauth2client
#torch
#torchvision
