python-jose==3.3.0
fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
python-jose
gspread
oauth2client
pandas
python-jose==3.3.0
fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
python-jose==3.3.0
fastapi
gspread
oauth2client
pandas
axios
apscheduler
pillow
pytesseract
numpy
requests
opencv-python
easyocr
gspread
oauth2client
torch
torchvision
