python-jose==3.3.0
fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
python-dotenv
gspread
pandas
apscheduler
pillow
numpy
requests
oauth2client
google-api-python-client
python-multipart
pymysql
asyncpg
pydantic[email]
sentry-sdk
alembic
fastapi.security
httpx