/* Navbar styles */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #1f2937;
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 40px;
  color: white;
  font-size: 18px; /* make font bigger */
  font-weight: bold; /* make text bolder */
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

nav a {
  color: white;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.nav-link {
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}
