@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-Zt90XUWAcTDA_font-family: "Inter", sans-serif;
  --mixin-Zt90XUWAcTDA_font-size: 16px;
  --mixin-Zt90XUWAcTDA_font-weight: 400;
  --mixin-Zt90XUWAcTDA_font-style: normal;
  --mixin-Zt90XUWAcTDA_color: #535353;
  --mixin-Zt90XUWAcTDA_text-align: left;
  --mixin-Zt90XUWAcTDA_text-transform: none;
  --mixin-Zt90XUWAcTDA_line-height: 1.5;
  --mixin-Zt90XUWAcTDA_letter-spacing: normal;
  --mixin-Zt90XUWAcTDA_white-space: pre-wrap;
  --mixin-Zt90XUWAcTDA_user-select: text;
  --mixin-Zt90XUWAcTDA_text-decoration-line: none;
  --mixin-Zt90XUWAcTDA_text-overflow: clip;
  --mixin-yXjUiBz_0w6t_color: #000000;
  --mixin-yXjUiBz_0w6t_font-weight: 700;
  --mixin-yXjUiBz_0w6t_font-size: 64px;
  --mixin-yXjUiBz_0w6t_line-height: 1;
  --mixin-yXjUiBz_0w6t_letter-spacing: -1px;
  --mixin-yXjUiBz_0w6t_white-space: pre-wrap;
  --mixin-PD9Wbhys1Kog_color: #000000;
  --mixin-PD9Wbhys1Kog_font-size: 48px;
  --mixin-PD9Wbhys1Kog_font-weight: 700;
  --mixin-PD9Wbhys1Kog_letter-spacing: -0.5px;
  --mixin-PD9Wbhys1Kog_line-height: 1.1;
  --mixin-PD9Wbhys1Kog_white-space: pre-wrap;
  --mixin-f38PeIcVcolX_color: #0070f3;
  --mixin-f38PeIcVcolX_white-space: pre-wrap;
  --mixin-bpkvMwnAg99W_color: #000000;
  --mixin-bpkvMwnAg99W_font-size: 32px;
  --mixin-bpkvMwnAg99W_font-weight: 600;
  --mixin-bpkvMwnAg99W_line-height: 1.2;
  --mixin-bpkvMwnAg99W_white-space: pre-wrap;
  --mixin-qP_MqN77N5kk_color: #000000;
  --mixin-qP_MqN77N5kk_font-size: 24px;
  --mixin-qP_MqN77N5kk_font-weight: 600;
  --mixin-qP_MqN77N5kk_line-height: 1.3;
  --mixin-qP_MqN77N5kk_white-space: pre-wrap;
  --mixin-plf9NUSmzMGN_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-plf9NUSmzMGN_border-bottom-color: #dddddd;
  --mixin-plf9NUSmzMGN_border-bottom-style: solid;
  --mixin-plf9NUSmzMGN_border-bottom-width: 1px;
  --mixin-plf9NUSmzMGN_border-left-color: #dddddd;
  --mixin-plf9NUSmzMGN_border-left-style: solid;
  --mixin-plf9NUSmzMGN_border-left-width: 1px;
  --mixin-plf9NUSmzMGN_border-right-color: #dddddd;
  --mixin-plf9NUSmzMGN_border-right-style: solid;
  --mixin-plf9NUSmzMGN_border-right-width: 1px;
  --mixin-plf9NUSmzMGN_border-top-color: #dddddd;
  --mixin-plf9NUSmzMGN_border-top-style: solid;
  --mixin-plf9NUSmzMGN_border-top-width: 1px;
  --mixin-plf9NUSmzMGN_border-bottom-left-radius: 3px;
  --mixin-plf9NUSmzMGN_border-bottom-right-radius: 3px;
  --mixin-plf9NUSmzMGN_border-top-left-radius: 3px;
  --mixin-plf9NUSmzMGN_border-top-right-radius: 3px;
  --mixin-plf9NUSmzMGN_font-family: "Inconsolata";
  --mixin-plf9NUSmzMGN_padding-bottom: 1px;
  --mixin-plf9NUSmzMGN_padding-left: 4px;
  --mixin-plf9NUSmzMGN_padding-right: 4px;
  --mixin-plf9NUSmzMGN_padding-top: 1px;
  --mixin-plf9NUSmzMGN_white-space: pre-wrap;
  --mixin-HoIeIYcRmEtE_border-left-color: #dddddd;
  --mixin-HoIeIYcRmEtE_border-left-style: solid;
  --mixin-HoIeIYcRmEtE_border-left-width: 3px;
  --mixin-HoIeIYcRmEtE_color: #888888;
  --mixin-HoIeIYcRmEtE_padding-left: 10px;
  --mixin-HoIeIYcRmEtE_white-space: pre-wrap;
  --mixin--kiGhCWgd0_i_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin--kiGhCWgd0_i_border-bottom-color: #dddddd;
  --mixin--kiGhCWgd0_i_border-bottom-style: solid;
  --mixin--kiGhCWgd0_i_border-bottom-width: 1px;
  --mixin--kiGhCWgd0_i_border-left-color: #dddddd;
  --mixin--kiGhCWgd0_i_border-left-style: solid;
  --mixin--kiGhCWgd0_i_border-left-width: 1px;
  --mixin--kiGhCWgd0_i_border-right-color: #dddddd;
  --mixin--kiGhCWgd0_i_border-right-style: solid;
  --mixin--kiGhCWgd0_i_border-right-width: 1px;
  --mixin--kiGhCWgd0_i_border-top-color: #dddddd;
  --mixin--kiGhCWgd0_i_border-top-style: solid;
  --mixin--kiGhCWgd0_i_border-top-width: 1px;
  --mixin--kiGhCWgd0_i_border-bottom-left-radius: 3px;
  --mixin--kiGhCWgd0_i_border-bottom-right-radius: 3px;
  --mixin--kiGhCWgd0_i_border-top-left-radius: 3px;
  --mixin--kiGhCWgd0_i_border-top-right-radius: 3px;
  --mixin--kiGhCWgd0_i_font-family: "Inconsolata";
  --mixin--kiGhCWgd0_i_padding-bottom: 3px;
  --mixin--kiGhCWgd0_i_padding-left: 6px;
  --mixin--kiGhCWgd0_i_padding-right: 6px;
  --mixin--kiGhCWgd0_i_padding-top: 3px;
  --mixin--kiGhCWgd0_i_white-space: pre-wrap;
  --mixin-YgxWSHch3rkr_display: flex;
  --mixin-YgxWSHch3rkr_flex-direction: column;
  --mixin-YgxWSHch3rkr_align-items: stretch;
  --mixin-YgxWSHch3rkr_justify-content: flex-start;
  --mixin-YgxWSHch3rkr_list-style-position: outside;
  --mixin-YgxWSHch3rkr_padding-left: 40px;
  --mixin-YgxWSHch3rkr_position: relative;
  --mixin-YgxWSHch3rkr_list-style-type: disc;
  --mixin-YgxWSHch3rkr_white-space: pre-wrap;
  --mixin-WtbIl0mkisr-_display: flex;
  --mixin-WtbIl0mkisr-_flex-direction: column;
  --mixin-WtbIl0mkisr-_align-items: stretch;
  --mixin-WtbIl0mkisr-_justify-content: flex-start;
  --mixin-WtbIl0mkisr-_list-style-position: outside;
  --mixin-WtbIl0mkisr-_padding-left: 40px;
  --mixin-WtbIl0mkisr-_position: relative;
  --mixin-WtbIl0mkisr-_list-style-type: decimal;
  --mixin-WtbIl0mkisr-_white-space: pre-wrap;
  --mixin-HtEiwrEzkjCp_color: #000000;
  --mixin-HtEiwrEzkjCp_font-size: 20px;
  --mixin-HtEiwrEzkjCp_font-weight: 600;
  --mixin-HtEiwrEzkjCp_line-height: 1.5;
  --mixin-HtEiwrEzkjCp_white-space: pre-wrap;
  --mixin-683-z7D8snRK_color: #000000;
  --mixin-683-z7D8snRK_font-size: 16px;
  --mixin-683-z7D8snRK_font-weight: 600;
  --mixin-683-z7D8snRK_line-height: 1.5;
  --mixin-683-z7D8snRK_white-space: pre-wrap;
  --mixin-HN2TEShE9Pw4_color: #3291ff;
  --mixin-HN2TEShE9Pw4_white-space: pre-wrap;
  --mixin-Or1sCfzI-M9F_white-space: pre-wrap;
  --mixin-oa2_0bIUnzqE_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-Zt90XUWAcTDA_font-family);
  font-size: var(--mixin-Zt90XUWAcTDA_font-size);
  font-weight: var(--mixin-Zt90XUWAcTDA_font-weight);
  font-style: var(--mixin-Zt90XUWAcTDA_font-style);
  color: var(--mixin-Zt90XUWAcTDA_color);
  text-align: var(--mixin-Zt90XUWAcTDA_text-align);
  text-transform: var(--mixin-Zt90XUWAcTDA_text-transform);
  line-height: var(--mixin-Zt90XUWAcTDA_line-height);
  letter-spacing: var(--mixin-Zt90XUWAcTDA_letter-spacing);
  white-space: var(--mixin-Zt90XUWAcTDA_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-yXjUiBz_0w6t_color);
  font-weight: var(--mixin-yXjUiBz_0w6t_font-weight);
  font-size: var(--mixin-yXjUiBz_0w6t_font-size);
  line-height: var(--mixin-yXjUiBz_0w6t_line-height);
  letter-spacing: var(--mixin-yXjUiBz_0w6t_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-PD9Wbhys1Kog_color);
  font-size: var(--mixin-PD9Wbhys1Kog_font-size);
  font-weight: var(--mixin-PD9Wbhys1Kog_font-weight);
  letter-spacing: var(--mixin-PD9Wbhys1Kog_letter-spacing);
  line-height: var(--mixin-PD9Wbhys1Kog_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-f38PeIcVcolX_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-bpkvMwnAg99W_color);
  font-size: var(--mixin-bpkvMwnAg99W_font-size);
  font-weight: var(--mixin-bpkvMwnAg99W_font-weight);
  line-height: var(--mixin-bpkvMwnAg99W_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-qP_MqN77N5kk_color);
  font-size: var(--mixin-qP_MqN77N5kk_font-size);
  font-weight: var(--mixin-qP_MqN77N5kk_font-weight);
  line-height: var(--mixin-qP_MqN77N5kk_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-plf9NUSmzMGN_font-family);
  border-radius: var(--mixin-plf9NUSmzMGN_border-top-left-radius)
    var(--mixin-plf9NUSmzMGN_border-top-right-radius)
    var(--mixin-plf9NUSmzMGN_border-bottom-right-radius)
    var(--mixin-plf9NUSmzMGN_border-bottom-left-radius);
  padding: var(--mixin-plf9NUSmzMGN_padding-top)
    var(--mixin-plf9NUSmzMGN_padding-right)
    var(--mixin-plf9NUSmzMGN_padding-bottom)
    var(--mixin-plf9NUSmzMGN_padding-left);
  border-top: var(--mixin-plf9NUSmzMGN_border-top-width)
    var(--mixin-plf9NUSmzMGN_border-top-style)
    var(--mixin-plf9NUSmzMGN_border-top-color);
  border-right: var(--mixin-plf9NUSmzMGN_border-right-width)
    var(--mixin-plf9NUSmzMGN_border-right-style)
    var(--mixin-plf9NUSmzMGN_border-right-color);
  border-bottom: var(--mixin-plf9NUSmzMGN_border-bottom-width)
    var(--mixin-plf9NUSmzMGN_border-bottom-style)
    var(--mixin-plf9NUSmzMGN_border-bottom-color);
  border-left: var(--mixin-plf9NUSmzMGN_border-left-width)
    var(--mixin-plf9NUSmzMGN_border-left-style)
    var(--mixin-plf9NUSmzMGN_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-HoIeIYcRmEtE_color);
  padding-left: var(--mixin-HoIeIYcRmEtE_padding-left);
  border-left: var(--mixin-HoIeIYcRmEtE_border-left-width)
    var(--mixin-HoIeIYcRmEtE_border-left-style)
    var(--mixin-HoIeIYcRmEtE_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin--kiGhCWgd0_i_font-family);
  border-radius: var(--mixin--kiGhCWgd0_i_border-top-left-radius)
    var(--mixin--kiGhCWgd0_i_border-top-right-radius)
    var(--mixin--kiGhCWgd0_i_border-bottom-right-radius)
    var(--mixin--kiGhCWgd0_i_border-bottom-left-radius);
  padding: var(--mixin--kiGhCWgd0_i_padding-top)
    var(--mixin--kiGhCWgd0_i_padding-right)
    var(--mixin--kiGhCWgd0_i_padding-bottom)
    var(--mixin--kiGhCWgd0_i_padding-left);
  border-top: var(--mixin--kiGhCWgd0_i_border-top-width)
    var(--mixin--kiGhCWgd0_i_border-top-style)
    var(--mixin--kiGhCWgd0_i_border-top-color);
  border-right: var(--mixin--kiGhCWgd0_i_border-right-width)
    var(--mixin--kiGhCWgd0_i_border-right-style)
    var(--mixin--kiGhCWgd0_i_border-right-color);
  border-bottom: var(--mixin--kiGhCWgd0_i_border-bottom-width)
    var(--mixin--kiGhCWgd0_i_border-bottom-style)
    var(--mixin--kiGhCWgd0_i_border-bottom-color);
  border-left: var(--mixin--kiGhCWgd0_i_border-left-width)
    var(--mixin--kiGhCWgd0_i_border-left-style)
    var(--mixin--kiGhCWgd0_i_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-YgxWSHch3rkr_display);
  flex-direction: var(--mixin-YgxWSHch3rkr_flex-direction);
  align-items: var(--mixin-YgxWSHch3rkr_align-items);
  justify-content: var(--mixin-YgxWSHch3rkr_justify-content);
  list-style-position: var(--mixin-YgxWSHch3rkr_list-style-position);
  padding-left: var(--mixin-YgxWSHch3rkr_padding-left);
  position: var(--mixin-YgxWSHch3rkr_position);
  list-style-type: var(--mixin-YgxWSHch3rkr_list-style-type);
  flex-column-gap: var(--mixin-YgxWSHch3rkr_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-WtbIl0mkisr-_display);
  flex-direction: var(--mixin-WtbIl0mkisr-_flex-direction);
  align-items: var(--mixin-WtbIl0mkisr-_align-items);
  justify-content: var(--mixin-WtbIl0mkisr-_justify-content);
  list-style-position: var(--mixin-WtbIl0mkisr-_list-style-position);
  padding-left: var(--mixin-WtbIl0mkisr-_padding-left);
  position: var(--mixin-WtbIl0mkisr-_position);
  list-style-type: var(--mixin-WtbIl0mkisr-_list-style-type);
  flex-column-gap: var(--mixin-WtbIl0mkisr-_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-HtEiwrEzkjCp_color);
  font-size: var(--mixin-HtEiwrEzkjCp_font-size);
  font-weight: var(--mixin-HtEiwrEzkjCp_font-weight);
  line-height: var(--mixin-HtEiwrEzkjCp_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-683-z7D8snRK_color);
  font-size: var(--mixin-683-z7D8snRK_font-size);
  font-weight: var(--mixin-683-z7D8snRK_font-weight);
  line-height: var(--mixin-683-z7D8snRK_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-HN2TEShE9Pw4_color);
}

:where(.root_reset) li:where(.li),
li:where(.root_reset.li),
:where(.root_reset .__wab_expr_html_text) li,
:where(.root_reset_tags) li,
li:where(.root_reset_tags) {
}

:where(.root_reset) p:where(.p),
p:where(.root_reset.p),
:where(.root_reset .__wab_expr_html_text) p,
:where(.root_reset_tags) p,
p:where(.root_reset_tags) {
}
