/* frontend/styles/globals.css */
body {
  background-color: #0f172a; /* Tailwind's bg-slate-900 */
  color: #fff; /* Tailwind's text-white */
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* Tailwind's font-sans */
}
